@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@500&family=Roboto+Slab&display=swap');

html,
body {
  font-family: 'Roboto Slab', serif;
  margin: auto;
  display: block;
  padding: 20px;
  background: url(assets/ep_naturalwhite.png)repeat;
}

/*Canvas style is used for styling the three.js window*/
canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 800px;
}

#space {
  background: url(assets/longforest.jpg);
}

h1 {
  font-family: 'Playfair Display SC', serif;
  color: #821705;
  max-width: 75%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

h2 {
  font-family: 'Playfair Display SC', serif;
  color: #8a7200;
  max-width: 75%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

p {
  width: 50%;
  max-width: 75%;
  font-weight: 500;
  padding: 0px;
  padding-left: 25%;
  padding-bottom: 20px;
  line-height: 170%;
  color: #0c4d05;
}

p.mid {
  padding-left: 0%;
  text-align: center;
  margin: auto;
}

a {
  color: #821705;
}
